:root{
	--border-gradiant-percent1: 15%;
	--border-gradiant-percent2: 85%;
}

* {
	font-family: "Courier New", Courier, monospace;
	font-family: 'Ubuntu Mono', monospace;
	color: whitesmoke;
	cursor: default;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none
}

body {
	margin-left: auto;
	margin-right: auto;
	width: 64em;

	text-align: center;

	background: black;
	overflow: hidden;
}

a { 
	text-decoration: none; 
}

h1 {
	font-size: 3em;
	margin: 0.3em 0 0 0;
	height: 50px;
}

.skillset{
	background: linear-gradient(black, black) 50% 50%/calc(100% - 6px) calc(100% - 6px) no-repeat, 
							linear-gradient(0deg, whitesmoke 0%, whitesmoke var(--border-gradiant-percent1), 
														black var(--border-gradiant-percent1), black var(--border-gradiant-percent2), 
														whitesmoke var(--border-gradiant-percent2), whitesmoke 100%);

	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	width: 32em;

	text-align: center;
}

.skillset-list{
	position: relative;
	top: -1em;
}

h2.skillheader{
	position: relative;
	top: -0.5em;
	margin-top: 0.4em;
	margin-left: auto;
	margin-right: auto;

	width: 11em;

	text-align: center;
	background: black;
}

.underline {

	background-color: whitesmoke;
	display: block;
	height: 2px;
	margin: 0 auto;
	width: 0;
	transition: width .25s linear;
}

*:hover>.underline, .selected>.underline {
	width: 100%;
}

.skill, .button {
	display: inline-block;
	cursor: pointer;
}

#all-modals {
	transition: height 0.5s linear;
}

.skill-modal {
	opacity: 0;
	position: absolute;
	height: 100%;
	left: 0;
	width: 100%;
	background-color: black;
	z-index: -1;
	transition: opacity 0.5s linear;
}

.shown {
	visibility: visible;
	opacity: 1;
	margin-top: 0px;
}

.htmmlcss-color {
	background: rgb(255,210,49);
	background: linear-gradient(90deg, rgba(255,210,49,1) 0%, rgba(255,69,46,1) 94%, rgba(255,28,0,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.instagram-color {
	background: rgb(255,246,170);
	background: linear-gradient(60deg, rgba(255,246,170,1) 0%, rgba(255,166,33,1) 30%, rgba(255,33,181,1) 60%, rgba(122,18,219,1) 80%,rgba(78,13,255,1) 93%);
	background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
